body {
    font-family: Verdana, Arial, sans-serif;
  }
  h1:hover {
    color: #61b3e7;
    background-color: #e6e8fa;
  }
  h2 {
    border-bottom: 4px dotted black;
    color: #FF645F;
    margin-left: 400px;
  }
